.header-wrapper {
  background-color: #77ca64;
  width: 100%;
  justify-content: space-between;

  .info-wrapper,
  .btn-wrapper {
    height: 35px;

    .item {
      margin-right: 20px;
      .text-content {
        white-space: pre;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .info-wrapper {
  }
  .btn-wrapper {
  }
}
